
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shape-hero{
  width: 300px;
  height: 300px;
  background: rgb(101, 17, 139);
  clip-path: polygon(21% 32%, 25% 30%, 30% 29%, 35% 27%, 45% 26%, 54% 26%, 59% 26%, 63% 27%, 67% 30%, 71% 33%, 73% 38%, 75% 40%, 75% 44%, 70% 49%, 67% 57%, 65% 61%, 62% 65%, 58% 68%, 52% 69%, 46% 68%, 39% 65%, 34% 62%, 31% 60%, 29% 59%, 26% 58%, 19% 55%, 14% 53%, 11% 50%, 7% 40%, 5% 33%, 6% 30%, 10% 26%, 12% 24%, 18% 22%, 21% 20%, 26% 19%, 27% 19%, 29% 18%, 41% 19%, 41% 19%, 45% 16%, 46% 15%, 47% 15%, 49% 14%, 54% 17%, 55% 17%, 58% 19%, 60% 20%, 62% 21%, 66% 22%, 69% 22%, 70% 22%, 74% 21%, 78% 21%, 81% 21%, 82% 23%, 82% 24%, 83% 25%, 82% 30%, 82% 30%, 83% 34%, 83% 38%, 81% 40%, 81% 40%, 80% 43%, 79% 46%, 77% 47%, 75% 50%, 74% 52%, 74% 52%, 73% 53%, 71% 54%, 71% 54%, 70% 55%);
}